@import "./variables.scss";

.episode-mark-watched {
  cursor: pointer;
  transition: 0.4s;
}

.episode-mark-watched:hover, .episode-mark-watched:active {
  color: white;
  background-color: $success;
}