@import "./variables.scss";

.loading-wheel {
  margin: 200px auto;
  padding: 30px;
  border-color: $primary !important;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
}

.loading-wheel-inline {
  margin: auto;
  padding: 10px;
}